:root {
    --clr-white: #ebebeb;;
    --clr-orange: #ff7e35;
    --clr-dark-orange: #ee6417;
    --clr-yellow: #ffd618;
    --clr-red: #c61a1a;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--clr-white, #fafafa);
    font-family: 'Urbanist', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--clr-black);
    
}