:root {
    --clr-white: #ebebeb;;
    --clr-purple: rgb(106, 74, 220);
    --clr-cyan: #4bd2e473;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--clr-white, #fafafa);
    font-family: 'Urbanist', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--clr-black);
    
}