.card-div{
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 14px;
    height: 19.3rem;
    width: 14.5rem;
    cursor: pointer;
    transition: 0.30s;
}

.card-div:hover{
    transform: scale(1.03);
    box-shadow: 0 0 0.8rem var(--clr-purple);
    /* border: 1.3px solid var(--clr-cyan); */
}

.card-link {
    text-decoration: none;
    color: inherit;
  }

.div-product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-radius: 14px;
    /* background-color: blue; */
    
}

.div-product-img img{
    border-radius: 14px;
    height: 100%;
    /* width: 100%; */
    max-width: 100%;
    object-fit: contain;
    /* background-color: aqua; */
}

.name-container-card{
    /* background-color: gray; */
    min-height: 10%;
    max-height: 20%;
    /* margin-bottom: 8px; */
}

.name-container-card h2{
    /* margin-top: 8px; */
    font-size: 18.6px;
    font-weight: 400;
    font-style: italic;
}
.price-container-card{
    display: flex;
    align-items: center;
    /* background-color: rgb(52, 169, 52); */
    min-height: 10%;
    /* max-height: 10%; */
    /* font-size: 1rem; */
    
}
/* .price-container-card h2{
    background-color: yellow;
} */