nav{
    background-color: rgb(106, 74, 220);
    display: flex;
    height: 3.9rem;
    padding: 10px 24px 10px 24px;
}

.logo-container{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    width: 10%;
}

.logo-container img{
    height: 100%;
    
}

.input-container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 60%;
   
}

.input-container input{
    height: 85%;
    width: 70%;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.nav-link{
    
    margin: 0 7px 0 7px;
    font-size: 0.88rem;
    color: rgb(216, 208, 208);
}